# Ignore IntelliJ IDEA files
.idea/
*.iml
*.iws

# Ignore Maven/Java build artifacts in the backend folder
/product-catalog-backend/target/


/product-catalog-backend/.mvn/
!.mvn/wrapper/maven-wrapper.jar
/product-catalog-backend/pom.xml.tag
/product-catalog-backend/pom.xml.releaseBackup
/product-catalog-backend/pom.xml.versionsBackup
/product-catalog-backend/pom.xml.next
/product-catalog-backend/release.properties

*.log

*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

docker-compose.override.yml

.DS_Store
Thumbs.db

*.swp
*.swo
*.bak
*.tmp

/product-catalog-frontend/node_modules/
/product-catalog-frontend/build/
/product-catalog-frontend/dist/
/product-catalog-frontend/npm-debug.log*
/product-catalog-frontend/yarn-debug.log*
/product-catalog-frontend/yarn-error.log*

.vscode/*

*.~*