@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-button-next,
.swiper-button-prev {
  background: #e5e7eb !important; /* Tailwind gray-200 */
  color: #222 !important; /* Black-ish */
  border-radius: 9999px !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 18px !important;
  transition: background 0.2s, color 0.2s !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #9ca3af !important; /* Tailwind gray-400 */
  color: #fff !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
}
